# Dependencias npm instaladas
/backend/node_modules

# Directorio donde se almacenan los archivos de construcción
/build

# Archivos de registro y salida
*.log
*.txt

# Archivo de bloqueo de versiones de las dependencias
package-lock.json

# Archivos de configuración específicos de tu IDE o editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de configuración de sistema y temporales
.DS_Store
Thumbs.db

# Archivos de entorno local
.env
