html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.button-like-text {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-like-text .logo {
    width: 100px;
    height: auto;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.section {
    min-height: 100vh; /* Ocupa al menos la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    transition: background-color 0.5s;
    position: relative;
    padding: 20px; /* Añade padding para contenido adicional */
    box-sizing: border-box; /* Incluye padding en el cálculo de tamaño */
}

.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.section > * {
    position: relative;
    z-index: 2;
}

#section1, #section2, #section3, #section4, #section5 {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section1 {
    background-image: url('/resources/images/cudi1.png');
}

#section2 {
    background-image: url('/resources/images/cudi2.png');
}

#section3 {
    background-image: url('/resources/images/entradas.jpg');
}

#section4 {
    background-image: url('/resources/images/autobuses.jpg');
}

#section5 {
    background-image: url('/resources/images/beerpong.jpg');
}

.button-container button, .downButton {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.persButton:hover,
.persButton:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.persButton {
    --color: #e4cb58;
    --hover: #6cd4ebbc;
}

button {
    background: none;
    border: 2px solid;
    color: white;
    font: inherit;
    line-height: 1;
    padding: 1em 2em;
    border-radius: 10px;
    transition: 0.7s;
}

.downButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}

.downButton:hover {
    color: #eee;
}

.info-container {
    display: flex;
    flex-direction: row;
    color: white;
}

.column {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    margin-right: 2em;
}

.column i {
    margin-right: 0.5em;
    margin-bottom: 1em;
}
.options-container {
    width: 80%; /* Establece el ancho del contenedor de opciones */
    margin: 20px auto; /* Centra horizontalmente y agrega margen superior e inferior */
    display: grid; /* Utiliza grid layout */
    grid-template-columns: repeat(2, 1fr); /* Crea 2 columnas de igual ancho */
    grid-template-rows: auto; /* Ajusta la altura según el contenido */
    gap: 20px; /* Espacio entre las opciones */
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 30rem;
    border: 0.1rem solid lightgray;
    box-shadow: 0.2rem 0.2rem 0.8rem 0.4rem rgba(211, 211, 211, 0.7);
    border-radius: 1rem;
    font-family: sans-serif;
    margin: 1rem;
}

.tarjeta:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.tarjeta h2 {
    margin: 0;
    font-size: 2em;
    color: #fff;
}

.titulo {
    font-size: 1.5rem;
    padding: 1rem 1rem 0 1rem;
}

.cuerpo {
    padding: 1rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuerpo img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}
