html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

img {
    width: 100%;
    height: auto;
}


.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

/*AJUSTES DE LAS SECCIONES EN GENERAL*/
.section {
    min-height: 100vh; /* Ocupa al menos la altura de la ventana */
    display: none; /* Ocultar todas las secciones inicialmente */
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    transition: background-color 0.5s;
    position: relative;
    padding: 20px; /* Añade padding para contenido adicional */
    box-sizing: border-box; /* Incluye padding en el cálculo de tamaño */
}

.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.section > * {
    position: relative;
    z-index: 2;
}

#mainPage, #buttonPage, #carrPage, #slide0, #slide1,#slide2,#slide3 {
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/*PAGINAS PRINCIPALES*/
#mainPage {
    display: flex; 
    background-image: url('/resources/images/cudi1.png');
}

#buttonPage {
    display: flex; 
    padding: 0%;
    background-image: url('/resources/images/cudi2.png');
}

#carrPage {
   /*display: flex; */
   
}







.button-vertical-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    
}

.colorButton {
    flex: 1;
    border: none;
    color: BLACK;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: background-color 0.3s;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.colorButton:hover {
    opacity: 0.8;
}
#button1,#button2,#button3,#button4{
    margin-top:1em;
    margin-bottom: 1em;
}

#button1 {
    background-image: url('/resources/images/fondo0.png');
}

#button2 {
    background-image: url('/resources/images/fondo1.png');
}

#button3 {
    background-image: url('/resources/images/fondo2.png');
}

#button4 {
    background-image: url('/resources/images/fondo3.png');
}



.carousel {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    height: auto; /* Ensure height adjusts automatically */
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
}



.carousel-item h2 {
    margin: 0;
    font-size: 24px;
}

.carousel-control {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0.5em;;
}

.carousel-control.prev {
    left: 0.5em;
}

.carousel-control.next {
    right: 0.5em;
}






