.options-container {
    /*width: 80%;  Establece el ancho del contenedor de opciones */
    margin: 5em auto; /* Centra horizontalmente y agrega margen superior e inferior */
    display: grid; /* Utiliza grid layout */
    grid-template-columns: repeat(2, 1fr); /* Crea 2 columnas de igual ancho */
    grid-template-rows: auto; /* Ajusta la altura según el contenido */
    gap: 20px; /* Espacio entre las opciones */
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 30rem;
    border: 0.1rem solid lightgray;
    box-shadow: 0.2rem 0.2rem 0.8rem 0.4rem rgba(211, 211, 211, 0.7);
    border-radius: 1rem;
    font-family: sans-serif;
    margin: 1rem;
}

.tarjeta:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.tarjeta h2 {
    margin: 0;
    font-size: 2em;
    color: #fff;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titulo {
    font-size: 1.5rem;
    padding: 1rem 1rem 0 1rem;
}

.cuerpo {
    padding: 1rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

.cuerpo img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}